<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Shared Move</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <span ion-text color="light" hideWhen="android,windows">CLOSE</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="form" (ngSubmit)="addNewSharedMove(form.value)">
    <ion-list-header>
      Provide a name and date of your move.
    </ion-list-header>
    <ion-item>
      <ion-label>
        Name:
      </ion-label>
      <ion-input placeholder='Houston to Austin' [(ngModel)]="sharedMove.name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Date of Moving:
      </ion-label>
      <ion-datetime placeholder="MMM DD, YYYY" [(ngModel)]="sharedMove.date" displayFormat="MMM DD, YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-item-divider color='primary'>Share with</ion-item-divider>

    <ion-item-group *ngIf="!isAdmin">
      <ion-item *ngFor="let email of sharedMove.emails">
        {{email}}
      </ion-item>
    </ion-item-group>

    <div formArrayName="emails" *ngIf="isAdmin">
      <section [formGroupName]="i" *ngFor="let tech of form.controls.emails.controls; let i = index">
        <ion-item-group>
          <ion-item>
            <ion-label floating>Email : {{i+1}}</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <span float-right ion-button icon-left clear *ngIf="form.controls.emails.length > 1" (click)="removeInputField(i)">
            <ion-icon name="close"></ion-icon>
            Remove
          </span>
        </ion-item-group>
      </section>
    </div>
    <span ion-button float-left icon-left clear *ngIf="isAdmin" (click)="addNewInputField()">
      <ion-icon name="add"></ion-icon>
      Add New Email
    </span>
    <ion-buttons end>
      <button ion-button block clear type='submit' [disabled]="!form.valid">SAVE</button>
    </ion-buttons>
  </form>
</ion-content>