<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Add a new Box</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <span ion-text color="light" hideWhen="android,windows">CLOSE</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <!-- <img id="QR_Canvas_replica" src="{{picture}}" *ngIf="picture!=null"> -->
  <ion-card *ngIf="createdCode">
    <ngx-qrcode id="QR_Canvas" [qrc-element-type]="canvas" [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{ createdCode }}</p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <ion-item margin-bottom no-lines>
        <ion-label floating>Box name:</ion-label>

        <ion-input type="text" maxlength="40" formControlName="name"></ion-input>
      </ion-item>

      <div formArrayName="content">

        <section [formGroupName]="i" *ngFor="let tech of form.controls.content.controls; let i = index">
          <ion-item-group>
            <ion-row>
              <ion-col col-8>
                <ion-item>
                  <ion-label floating>Item:{{i + 1}}</ion-label>
                  <ion-input type="text" maxlength="50" formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-label floating>Qty:</ion-label>
                  <ion-input type="number" maxlength="3" formControlName="quantity"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <span float-right ion-button icon-left clear *ngIf="form.controls.content.length > 1" (click)="removeInputField(i)">
              <ion-icon name="close"></ion-icon>
              Remove
            </span>
          </ion-item-group>
        </section>
      </div>

      <span ion-button float-left icon-left clear (click)="addNewInputField()">
        <ion-icon name="add"></ion-icon>
        Add a new item
      </span>


    </ion-list>
    <button ion-button block margin-top color="primary" text-center [disabled]="!form.valid">Submit</button>
  </form>

</ion-content>