<ion-header>

  <ion-navbar text-center color='primary'>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <button ion-button full clear icon-left (click)="scanCode()">
      <ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{ scannedCode }}
    </ion-card-content>
    <span float-right ion-button icon-left clear (click)="scannedCode=''">
      <ion-icon name="close"></ion-icon>
      Clear
    </span>
  </ion-card>

  <ion-list>
    <ion-list-header *ngIf="move == null" text-wrap>
      No Data Yet. Try adding a new one using the button below.
    </ion-list-header>
    <ion-list-header *ngIf="move != null" text-wrap>
      Following are the list of moves, you have added. Click/Long press to view/modify their content.
    </ion-list-header>
    <section *ngFor="let m of move">
      <ion-card [navPush]='openMovePage' [navParams]='{name: m.name, date: m.date}'>
        <ion-card-header>
          Trip Name: {{m.name}}
        </ion-card-header>
        <ion-card-content>
          Date: {{m.date}}
        </ion-card-content>
      </ion-card>
    </section>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addNewMove()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>