<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Individual Move</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <span ion-text color="light" hideWhen="android,windows">CLOSE</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="addNew(form.value)">
    <ion-list-header>
      Provide a name and date of your move.
    </ion-list-header>
    <ion-item>
      <ion-label>
        Name:
      </ion-label>
      <ion-input placeholder='Houston to Austin' [(ngModel)]="move.name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Date of Moving:
      </ion-label>
      <ion-datetime placeholder="MMM DD, YYYY" [(ngModel)]="move.date" displayFormat="MMM DD, YYYY" formControlName="date"></ion-datetime>
    </ion-item>
    <ion-buttons end>
      <button ion-button block clear type='submit' [disabled]="!form.valid">SAVE</button>
    </ion-buttons>
  </form>
</ion-content>