<ion-header>
  <ion-navbar text-center color='primary'>
  </ion-navbar>
  <ion-toolbar text-center color='primary'>
    <ion-title>{{sharedMove.name}} - {{sharedMove.date}}</ion-title>
  </ion-toolbar>
  <button *ngIf="box && box.length != 0" ion-button full clear color='secondary' (click)="printContent()">Print QR Code</button>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid id='allBox' hidden>
      <ion-row>
        <ion-col col-3 *ngFor='let b of box'>
          <img src="{{b.qr}}" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <section *ngFor="let b of box">
      <ion-card (press)="openActionSheet(b)" (tap)="openBoxPage(b)">
        <img src="{{b.image}}" *ngIf="b.image != undefined" />
        <img src="../../assets/imgs/icon.png" *ngIf="b.image == undefined" />
        <ion-card-header text-center>
          {{b.name}}
        </ion-card-header>
      </ion-card>
    </section>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="addNewBox()">
      <ion-icon name='add'></ion-icon>
    </button>
  </ion-fab>
</ion-content>